
.neo-page__hero{
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/asteroide.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    padding: 0 20%;
    margin-bottom: 8rem;
}

.neo-page__hero-title{
    font-size: 3rem;
}

.neo-page__hero-description{
    font-size: 1.6rem;
}

.neo-page__cards-container{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.neo-page__cards-container-card{
    border: 1px solid #1e1e3a;
    background-color: #111122;
    border-radius: 8px;
    padding: 1rem;
}

.neo-page__cards-container-card-danger{
    border: 1px solid #ff4444;
    background-color: #111122;
    border-radius: 8px;
    padding: 1rem;
}

/* RESPONSIVE */
@media (max-width: 768px){
    .neo-page__hero-title{
        font-size: 2.3rem;
    }

    .neo-page__hero-description{
        font-size: 1.3rem;
    }

    .epic-page__grid{
        padding: 1rem;
    }
}
